<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<p id="notice"><%= notice %></p>

<h1>Wallposts</h1>

<table class = "table">
  <thead>
    <tr>
      <th>User</th>
      <th>Wall status</th>
      <th>Wall date</th>
      <th>Wall emotion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wallposts.each do |wallpost| %>
      <tr>
        <td><%= wallpost.user_id %></td>
        <td><%= wallpost.wall_status %></td>
        <td><%= wallpost.wall_date %></td>
        <td><%= wallpost.wall_emotion %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

