  <div class="container" style="height: 500px;">
    <h4>Messages</h4>
  <% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
  <% end %>
  <div class="panel panel-default">
   <% @messages.each do |message| %>
    <% if message.body %>
     <% user = User.find(message.user_id) %>
     <div class="panel-body">
      <div class="content">
       <div class="header"><strong><%= user.email %></strong>&nbsp;<%= message.message_time %></div>
        <div class="list">
         <div >

           <%= message.body %>
        </div>
      </div>
     </div>
   </div>
   <% end %>
  <% end %>
  </div>
  <%= simple_form_for [@conversation, @message] do |f| %>
   <div class="field">
     <%= f.text_area :body, class: 'form-control', autofocus: true  %>
   </div>
   <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
   <br>
   <div class="actions">
     <%= f.submit 'Submit', class: 'btn btn-success'%>
   </div>
  <% end %>

<!--container end -->
</div>
