<h1>Profile</h1>

<p id="notice"><%= notice %></p>

<div class="col-sm-3">
  <div class="panel panel-default">
   <div class="panel-body">

    <p>
      <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
      <p class="lead"><%= @user.name %></p>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @user.gender %>
    </p>

    <p>
      <strong>Birthday:</strong>
      <%= @user.birthday %>
    </p>

    <p>
      <strong>About:</strong>
      <%= @user.about %>
    </p>

  </div>
</div>



<div class="col-sm-3">
  <div class="panel panel-default">
   <div class="panel-body">
    <p>
      <strong>Wall status:</strong>
      <%= @wallpost.wall_status %>
    </p>

    <p>
      <strong>Wall date:</strong>
      <%= @wallpost.wall_date %>
    </p>

    <p>
      <strong>Wall emotion:</strong>
      <%= @wallpost.wall_emotion %>
    </p>

    <%= link_to 'Edit', edit_wallpost_path(@wallpost) %> |
    <%= link_to 'Back', wallposts_path %>
  </div>
</div>
</div>


  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      Update Status
    </div>
    <div class="modal-body" >
      <form class="form center-block">
        <div class="form-group">
          <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div>
        <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
        <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
      </div>  

    </div>
