<p id="notice"><%= notice %></p>

<div class= "row">
  <div class="col-sm-5">
    <div class="panel panel-default">
     <div class="panel-body">

      <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
      <p class="lead"><%= @user.name %></p>

      <p><strong>Email:</strong><%= @user.email %></p>

      <p><strong>Gender:</strong><%= @user.gender %></p>

      <p><strong>Birthday:</strong><%= @user.birthday %></p>

      <p><strong>Age:</strong><%= @user.age %></p>

      <p><strong>City:</strong><%= @user.city %></p>

      <p><strong>Relationship Status:</strong><%= @user.relationship_status %></p>

    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading"><h4>About me</h4></div>
    <div class="panel-body">
      <p><%= @user.about %></p> 
    </div>
  </div>



<<<<<<< HEAD
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="lead">My Websites</p>
      <p>
        <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" width="28px" height="28px">
        <img src="http://www.freeiconspng.com/uploads/tumblr-logo-icon-1.png" width="28px" height="28px">
        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
      </p>
=======


<div class="col-sm-7">
      <div class="well"><a href="/user_friends" class="pull-right">View all</a><h4>Friends (1000)</h4></div>

<div class="well"> 
      
      
         <%= render 'wallposts/list' %>
    
>>>>>>> 4985edc19f2e01abe36b86011bbd1c4155187254
    </div>
  </div>
</div>


<div class="col-sm-7">
  <div class="well"><a href="/user_friends" class="pull-right">View all</a><h4>Friends (1000)</h4></div>

  <div class="well"><form class="form-horizontal" role="form"><%= render 'wallposts/list' %></form></div>
</div>

</div>

</div>


<div class="col-sm-5" ></div> 
</div>