<p id="notice"><%= notice %></p>

<div class= "row">
  <div class="col-sm-5">
    <div class="panel panel-default">
     <div class="panel-body">

        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
        <p class="lead"><%= @user.name %></p>

      <p><strong>Email:</strong><%= @user.email %></p>

      <p><strong>Gender:</strong><%= @user.gender %></p>

      <p><strong>Birthday:</strong><%= @user.birthday %></p>

      <p><strong>Age:</strong><%= @user.age %></p>

      <p><strong>City:</strong><%= @user.city %></p>

      <p><strong>Relationship Status:</strong><%= @user.relationship_status %></p>

    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading"><h4>About me</h4></div>

    <div class="panel-body">
      <p><%= @user.about %></p> 
    </div>
  </div>

<div class="panel panel-default">
        <div class="panel-body">
          <p class="lead">My Websites</p>

          <p>
            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" width="28px" height="28px">
            <img src="http://www.freeiconspng.com/uploads/tumblr-logo-icon-1.png" width="28px" height="28px">
            <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
          </p>
        </div>
        </div>
<%= render 'wallposts/list' %>

</div>






<div class="col-sm-7">
      <div class="well"><a href="/user_friends" class="pull-right">View all</a><h4>Friends (1000)</h4></div>




      <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>My Posts</h4></div>
        <div class="panel-body">
          <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Keyword: Bootstrap</a>
          <div class="clearfix"></div>
          <hr>

          <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>

          <hr>
          <form>
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
              </div>
              <input type="text" class="form-control" placeholder="Add a comment..">
            </div>
          </form>

        </div>
      </div>


</div>
</div>

</div>
 </div>




