<h1>Profile</h1>

<p id="notice"><%= notice %></p>

<div class= "row">
<div class="col-sm-12">
  <div class="panel panel-default">
   <div class="panel-body">

<div class="row">

  <div class="col-sm-5">
    <div class="panel panel-default">
     <div class="panel-body">


      <p>
        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
        <p class="lead"><%= @user.name %></p>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Gender:</strong>
        <%= @user.gender %>
      </p>

      <p>
        <strong>Birthday:</strong>
        <%= @user.birthday %>
      </p>

      <p>
        <strong>About:</strong>
        <%= @user.about %>
      </p>

    </div>
  </div>

</div>
 
 <div class="col-sm-5" >
  <%= render 'wallposts/list' %>
 </div>
 </div>

 
 </div>

  

