<%= form_for(wallpost) do |f| %>
  <% if wallpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wallpost.errors.count, "error") %> prohibited this wallpost from being saved:</h2>

      <ul>
      <% wallpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :wall_status %>
    <%= f.text_area :wall_status %>
  </div>

  <div class="field">
    <%= f.label :wall_date %>
    <%= f.date_select :wall_date %>
  </div>

  <div class="field">
    <%= f.label :wall_emotion %>
    <%= f.text_field :wall_emotion %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
