<p id="notice"><%= notice %></p>

<h1>Wallposts</h1>

<table class = "table">
  <thead>
    <tr>
      <th>User</th>
      <th>Wall status</th>
      <th>Wall date</th>
      <th>Wall emotion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wallposts.each do |wallpost| %>
      <tr>
        <td><%= wallpost.user_id %></td>
        <td><%= wallpost.wall_status %></td>
        <td><%= wallpost.wall_date %></td>
        <td><%= wallpost.wall_emotion %></td>
        <td><%= link_to 'Show', wallpost %></td>
        <td><%= link_to 'Edit', edit_wallpost_path(wallpost) %></td>
        <td><%= link_to 'Destroy', wallpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wallpost', new_wallpost_path %>
