<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_friend.user_id %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @user_friend.friend_id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @user_friend.id %>
</p>

<%= link_to 'Edit', edit_user_friend_path(@user_friend) %> |
<%= link_to 'Back', user_friends_path %>
